# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyc
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/
.venv
env.bak/
venv.bak/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs and databases
*.log
logs/*
logs/**
/logs
logs/
*.sqlite
*.db
logs/app.log
logs/auth.log
logs/otp.log


# Local development settings
.env.local
.env.development.local
.env.test.local
.env.production.local

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints
app/services/__pycache__/otp.cpython-310.pyc
app/schemas/v1/__pycache__/auth.cpython-310.pyc
logs/otp.log
logs/app.log

logs/app.log

*/__pycache__/*
.env
